<template>
    <div class="field-upload">
        <input accept="application/JSON,text/xml,.csv" type="file" class="hide" ref="selectFiles" @change="onFilesChange"/>
        <vs-input icon="cloud_upload" @click="selectFiles" icon-after placeholder="Select file" v-model="model"/>
        <app-field-list :items="files" @deleted="getFileList" @imported="imported"/>
    </div>
</template>

<script>
    import AppFieldList from "../app/AppFieldList";
    export default {
        name: 'FieldUpload',
        components: {AppFieldList},
        props: {
            value: {
                type: File,
                default: null
            },
        },

        data() {
            return {
                model: '',
                loading: false,
                files: [],
            }
        },

        methods: {
            selectFiles() {
                this.$refs.selectFiles.click();
            },
            onFilesChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.model = files[0].name;
                //api/upload
                var formData = new FormData();
                formData.append("file", files[0]);
                this.$vs.loading();
                axios.post('api/upload', formData).then(response => {
                    this.getFileList();
                    this.$vs.notify({title:'Success',text:'Lorem ipsum dolor sit amet, consectetur',color:'success'})
                    this.$vs.loading.close();
                });
            },
            getFileList(){
                axios.get('api/fileList').then(response => {
                    this.files = response.data;
                });
            },
            imported(){
                this.$emit('importComplete');
                this.$vs.notify({title:'Imported!', color:'success'})
            }
        },

        created(){
            this.getFileList();
        }
    }
</script>

<style lang="scss" scoped>
    .hide {
        display: none;
    }

    .field-upload {
        .vs-input {
            width: 100%;
        }
    }
</style>
