<template>
    <div class="app-country-list">

        <vs-row>
            <vs-col vs-w="3">
                <vs-button :to="{name: 'countries.create'}" color="dark" type="border">Add</vs-button>
            </vs-col>
            <vs-col vs-w="3">
                <app-export v-if="items.length"/>
            </vs-col>
        </vs-row>


        <vs-list>
            <vs-list-header title="Countries"></vs-list-header>
            <vs-list-item v-for="item,k in items" :title="item.country" :subtitle="item.capital" :key="k"
                          v-if="items.length">
                <vs-button @click="remove(item)" size="small" color="danger" class="delete-button" type="flat"
                           icon="clear"></vs-button>
                <vs-button :to="{name: 'countries.edit', params:{id: item.id}}" size="small" color="success" type="flat"
                           icon="create"></vs-button>
            </vs-list-item>
        </vs-list>
    </div>
</template>

<script>
    import AppExport from "./AppExport";

    export default {
        name: 'AppCountryList',
        components: {AppExport},
        props: {
            items: {
                type: Array,
                default: () => []
            },
        },

        methods: {
            remove(item) {
                this.$vs.loading();
                axios.delete(`/api/countries/${item.id}`).then(response => {
                    this.$vs.loading.close();
                    this.$emit('removed');
                    this.$vs.notify({title: 'Removed!', color: 'success'})
                })
            }
        },
    }
</script>

<style lang="scss" scoped>
    .app-country-list {
        padding: 20px 0;
    }

    .delete-button {
        margin-right: 10px;
    }
</style>
