<template>
    <div class="app-export">

        <vs-dropdown>
            <vs-button class="btn-drop" type="filled" icon="expand_more" icon-after>Export</vs-button>
            <!-- <a href="#">Hola mundo</a> -->
            <vs-dropdown-menu v-if="formats.length" style="width: 100px">
                <vs-dropdown-item v-for="item,k in formats" :key="k" @click="exportTo(item)">
                    {{item}}
                </vs-dropdown-item>
            </vs-dropdown-menu>
        </vs-dropdown>
    </div>
</template>

<script>
    import {saveAs} from 'file-saver';

    export default {
        name: 'AppExport',

        data() {
            return {
                formats: [],
            }
        },

        methods: {
            getFormats() {
                axios.get('/api/getFormats').then(response => {
                    this.formats = response.data;
                });
            },
            exportTo(format) {
                axios.post('/api/exportTo', {format: format}).then(response => {
                    //this.formats = response.data;
                    saveAs(response.data, 'export_country.' + format);
                });
            }
        },

        created() {
            this.getFormats();
        }
    }
</script>

<style lang="scss" scoped>

</style>
