<template>
    <form class="app-form-upload">
        <field-upload @importComplete="importComplete"/>
    </form>
</template>

<script>
    import FieldUpload from "../fields/FieldUpload";
    export default {
        name: 'AppFormUpload',
        components: {FieldUpload},
        methods: {
            importComplete() {
                
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>
