<template>
    <div class="app-field-list" v-if="items.length">
        <vs-list>
            <vs-list-header title="Imported files"></vs-list-header>
            <vs-list-item v-for="item,k in items" :title="item" :key="k">
                <vs-button @click="remove(item)" size="small" color="danger" class="delete-button" type="flat" icon="clear"></vs-button>
                <vs-button @click="importFile(item)" size="small" color="success" type="border">import</vs-button>
            </vs-list-item>
        </vs-list>
    </div>
</template>

<script>
    export default {
        name: 'AppFieldList',

        props: {
            items: {
                type: Array,
                default: () => []
            },
        },

        methods: {
            remove(item){
                axios.post('api/removeFile', {file: item}).then(response => {
                    this.$emit('deleted');
                })
            },
            importFile(item){
                this.$vs.loading();
                axios.post('api/import', {file: item}).then(response => {
                    this.$vs.loading.close();
                    this.$emit('imported');
                })
            }
        },
    }
</script>

<style lang="scss" scoped>
    .delete-button{
        margin-right: 10px;
    }
</style>
