<template>
    <div class="app-main">
        <app-form-upload/>
    </div>
</template>

<script>
    import AppFormUpload from "./AppFormUpload";

    export default {
        name: 'AppMain',
        components: {AppFormUpload}
    }
</script>

<style lang="scss" scoped>
    .app-main {
        padding: 15px;
    }
</style>
