<template>
    <form class="country-form">
        <vs-row>
            <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="5">
                <vs-input class="w100" placeholder="country" v-model="form.country"
                          :danger="$v.form.country.$error"
                          danger-text="This field is required"
                          @blur="$v.form.country.$touch"
                />
            </vs-col>
        </vs-row>
        <vs-row>
            <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="5">
                <vs-input class="w100" placeholder="capital" v-model="form.capital"
                          :danger="$v.form.capital.$error"
                          danger-text="This field is required"
                          @blur="$v.form.capital.$touch"
                />
            </vs-col>
        </vs-row>
        <vs-row>
            <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                <vs-button @click="submit" type="filled" class="w100" color="primary">Save</vs-button>
            </vs-col>
        </vs-row>


    </form>
</template>

<script>
    import {required} from 'vuelidate/lib/validators'

    export default {
        name: 'CountryForm',

        props: {
            value: {
                type: Object,
                default: () => {}
            },
        },

        data() {
            return {
                form: {
                    country: null,
                    capital: null,
                }
            }
        },

        validations: {
            form: {
                country: {required},
                capital: {required},
            }
        },

        methods: {
            submit() {
                this.$v.form.$touch();
                if (this.$v.form.$error) {
                    return;
                }
                if(this.$route.params.id !== undefined){
                    axios.put(`/api/countries/${this.$route.params.id}`, this.form).then(response => {
                        this.$router.push({name: 'countries'})
                    })
                }else {
                    axios.post('/api/countries', this.form).then(response => {
                        this.$router.push({name: 'countries'})
                    })
                }
            }
        },

        mounted(){
            if(this.value && Object.keys(this.value).length){
                this.form = this.value;
            }
        },

        updated(){
            if(this.value && Object.keys(this.value).length){
                this.form = this.value;
            }
        },

        watch: {
            value(newValue, oldValue) {
                if(newValue && Object.keys(newValue).length){
                    this.form = newValue;
                }
            }
        },

    }
</script>

<style lang="scss" scoped>
    .country-form{
        .vs-col{
            padding: 0 5px;
        }
        .vs-button{
            padding: 7px;
        }
        .vs-input{
            margin-bottom: 15px;
        }
    }
</style>
