<template>
    <div class="page-create-country">
        <country-form/>
    </div>
</template>

<script>
    import CountryForm from "../components/country/CountryForm";
    export default {
        name: 'PageCreateCountry',
        components: {CountryForm}
    }
</script>

<style lang="scss" scoped>
    .page-create-country{
        padding: 20px 0;
    }
</style>
