<template>
    <div class="page-edit-country">
        <country-form v-model="item"/>
    </div>
</template>

<script>
    import CountryForm from "../components/country/CountryForm";
    export default {
        name: 'PageEditCountry',
        components: {CountryForm},
        data() {
            return {
                item: {}
            }
        },

        beforeRouteEnter (to, from, next) {
          next(vm => {
            // экземпляр компонента доступен как `vm`
            vm.getData(to);
          })
        },

        methods: {
            getData(to) {
                axios.get(`/api/countries/${to.params.id}`).then(response => {
                    this.item = response.data;
                });
            }
        },
    }
</script>

<style lang="scss" scoped>
    .page-edit-country{
        padding: 20px 0;
    }
</style>
