<template>
    <div class="page-countries">
        <app-country-list :items="items" @removed="getData"/>
    </div>
</template>

<script>
    import AppCountryList from "../components/app/AppCountryList";
    export default {
        name: 'PageCountries',
        components: {AppCountryList},

        data() {
            return {
                items: []
            }
        },

        beforeRouteEnter (to, from, next) {
          next(vm => {
            // экземпляр компонента доступен как `vm`
            vm.getData();
          })
        },

        methods: {
            getData() {
                axios.get('api/countries').then(response => {
                    this.items = response.data;
                });
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>
