<template>
    <div class="page-index">
        <app-main/>
    </div>
</template>

<script>
    import AppMain from "../components/app/AppMain";

    export default {
        name: 'PageIndex',
        components: {AppMain}
    }
</script>

<style lang="scss" scoped>

</style>
