<template>
    <div class="main-layout">
        <vs-navbar
            color="#1db952"
            text-color="rgba(255,255,255,.6)"
            active-text-color="rgba(255,255,255,1)"
            class="myNavbar">
            <div slot="title">
                <vs-navbar-title>
                    Navbar
                </vs-navbar-title>
            </div>

            <vs-navbar-item index="0" >
                <router-link to="/">Home</router-link>
            </vs-navbar-item>
            <vs-navbar-item index="1">
                <router-link to="/countries">Countries</router-link>
            </vs-navbar-item>
        </vs-navbar>
        <div class="container">
            <router-view/>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'MainLayout'
    }
</script>

<style lang="stylus" scoped>

</style>
